@{
    Layout = "_Layout";
}

@model string

<div style="card bg-danger text-white">
    <h1 class="card-header">Xin chao @Model</h1>
    <p>
        Ban dang tim hieu ve View (.cshtml) trong ASP.NET MVC
    </p>
</div>
<hr>
@this.Path